//global style and changing bulma variables

//Import google fonts
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

$family-sans-serif: "Nunito", sans-serif;

//update bulma components variables
$control-border-width: 2px;
$imput-border-color: transparent;
$imput-shadow: none;

/* main style */

html, body {

    height: 100%;
}

html {

    background-image: url('./assets/img/background.jpg');
    background-size: cover;

    overflow-y: auto !important;
}